# Database Configuration
DB_NAME=db
DB_USER=user
DB_PASSWORD=password
DB_ROOT_USER=root
DB_ROOT_PASSWORD=rootpassword
DB_HOST=localhost
DB_PORT=3306
# Authentication Configuration
BETTER_AUTH_SECRET=replace-me
BETTER_AUTH_URL=http://localhost:3000
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_NAME=Admin
