services:
  db-dev:
    image: mysql:8.4.8
    container_name: doz-manager-db-dev
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - db_data_dev:/var/lib/mysql
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'mysqladmin ping -h 127.0.0.1 -uroot -p"${DB_ROOT_PASSWORD}" --silent',
        ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data_dev:
