services:
  postgres:
    image: postgres:18
    container_name: local-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d db']
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    image: oven/bun:1
    container_name: local-app
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "
        bun install &&
        bunx prisma generate &&
        bunx prisma migrate dev --name init &&
        bun dev
      "
    environment:
      DATABASE_URL: postgresql://user:password@postgres:5432/db # postgres als Host (Docker-Netzwerk)
    ports:
      - '3000:3000'
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata:
