name: Run Tests

on:
  pull_request:
    branches: ['main']
  workflow_call:

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Generate Prisma Client
        run: npm run prisma:generate
      - name: Run Linter
        run: npm run lint
      - name: Run tests
        run: npm run test
